In [1]:
import numpy as np
import pandas as pd

In [2]:
#Points = np.loadtxt(r"J:\AusAEM\AusAEM_East_Resources_Corridor_ GA_layer_earth_inversion\GA_gocad_sgrids\1001001.sg.data", skiprows = 3) #Loading the data only

TISA = np.loadtxt(r"J:\AusLAMP\145233_02_1 (1)\AusLAMP_EFTF1__ascii@@", skiprows = 3)

In [3]:
names = ['X'               ,'Y'              ,'Z'                ,'Resistivity'        ,'I'        ,'J'        ,'K']

In [6]:
dfTISA = pd.DataFrame(TISA, columns=names)

In [7]:
dfTISA.head()

               X             Y    Z  Resistivity    I    J    K
0 -185529.716309  7.066770e+06  0.0   103.098000  0.0  0.0  0.0
1 -185529.716309  7.074770e+06  0.0   103.328163  1.0  0.0  0.0
2 -185529.716309  7.082770e+06  0.0   103.791077  2.0  0.0  0.0
3 -185529.716309  7.090770e+06  0.0   104.506577  3.0  0.0  0.0
4 -185529.716309  7.098770e+06  0.0   105.500954  4.0  0.0  0.0

In [8]:
dfTISA.to_csv(r'J:\AusLAMP\145233_02_1 (1)\145233_02.csv', index=False)

In [9]:
dfTISA

,X,Y,Z,Resistivity,I,J,K
0,-1.855297e+05,7.066770e+06,0.0,103.098000,0.0,0.0,0.0
1,-1.855297e+05,7.074770e+06,0.0,103.328163,1.0,0.0,0.0
2,-1.855297e+05,7.082770e+06,0.0,103.791077,2.0,0.0,0.0
3,-1.855297e+05,7.090770e+06,0.0,104.506577,3.0,0.0,0.0
4,-1.855297e+05,7.098770e+06,0.0,105.500954,4.0,0.0,0.0
...,...,...,...,...,...,...,...
2570395,1.246470e+06,8.370770e+06,-307940.0,-99999.000000,163.0,179.0,84.0
2570396,1.246470e+06,8.378770e+06,-307940.0,-99999.000000,164.0,179.0,84.0
2570397,1.246470e+06,8.386770e+06,-307940.0,-99999.000000,165.0,179.0,84.0
2570398,1.246470e+06,8.394770e+06,-307940.0,-99999.000000,166.0,179.0,84.0
2570399,1.246470e+06,8.402770e+06,-307940.0,-99999.000000,167.0,179.0,84.0